[submodule "third_party/lua-cjson"]
	path = third_party/lua-cjson
	url = https://github.com/mpx/lua-cjson.git
[submodule "third_party/wasmtime"]
	path = third_party/wasmtime
	url = https://github.com/bytecodealliance/wasmtime.git
[submodule "third_party/cranelift"]
	path = third_party/cranelift
	url = https://github.com/bytecodealliance/cranelift.git
[submodule "third_party/luajit"]
	path = third_party/luajit
	url = https://github.com/LuaJIT/LuaJIT.git
